*, html, body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin: 0;
}

/*******************************
*****      Typography      *****
*******************************/

p {
  font-size: 1.15em;
  line-height: 1.4em;
  margin: 10px;
}

h1 {
  font-size: 2.25em;
  padding-top: 10;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 5px;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  margin: 5px;
  font-weight: 500;
}

h4 {

}

h5 {

}

h6 {

}

.slab {
    font-family: 'Roboto Slab', sans-serif;
}

.years {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 5em;
  color: #337ab7;
}

.white-text {
  color: white;
}

.green-text {
  color: #cdfd70;
  margin-top: 0;
}

.no-registration {
  font-size: .85em;
}

#sponsors-contact-toggle:hover {
  cursor: pointer;
}

.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }

.icon-text {
  font-size: .75em;
  font-weight: 600;
  text-transform: uppercase;
}


/**************************
*****      Links      *****
**************************/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}

a:visited {

}

a:active {

}

.white-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.white-link:hover {
  color: white;
}


/**************************
*****     Buttons     *****
**************************/

.btn {
    display: inline-block;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: ubuntu,sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px;
    border-radius: 2px;
    padding: 9px 75px 9px 75px;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-register {
    background-color: #F44336;
    border-color: #F44336;
}

.btn-register:hover {
    background-color: #B71C1C;
    border-color: #B71C1C;
    color: #fff;
}


/******************************
*****     Positioning     *****
******************************/

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[class*="col-"] {
  float: left;
  padding: 2%;
  margin-left: 2%;
}

.first {
  margin-left: 0;
}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }


/************************
*****     Media     *****
************************/

img {
  vertical-align: middle;
  border: 0;
}

.img-responsive {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}


/**********************
*****     Nav     *****
**********************/

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}


/***********************************
*****     Generic Elements     *****
***********************************/

.quote-text {
  color: white;
  font-size: 2em;
}

.quote-section {
  background: url(../img/rfny-homepage-quote-2880.jpg);
  padding: 40px;
  text-align: center;
  margin: 10, 0;
}

.learn-more {
  color: #F44336;
  display: block;
  margin-bottom: 20px;
}

.card {
  display: block;
}

.speaker-name {
  color: #333333;
  font-weight: 600;
  margin: 5px 0 10px;
}

.speaker-name a {
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}

.speaker-name a:hover {
  text-decoration: none;
  color: #F44336;
}

.speaker-title {
  color: #616161;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 5px;
}

.speaker-descr {
  color: #333333;
  font-weight: 300;
  margin: 0;
}

.speaker-info {
  text-align: left;
}

.fade {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.fade:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}


/*************************
*****     Footer     *****
*************************/

footer {
  background-color: #222222;
}

.footer-social-icons {
  text-align: center;
  padding: 30px 0 40px;
}

.footer-social-icons a {
  color: #666666;
}

.footer-social-icons a:hover {
  color: white;
}

.footer-copyright {
  color: #666666;
  float: left;
  padding: 20px 20px;
}

.footer-copyright a {
  color: #666666;
  font-weight: 500;
}

.footer-copyright p {
  font-size: 1em;
}

.footer-copyright a:hover {
  color: white;
}

.footer-dev {
  color: #666666;
  float: right;
  padding: 20px 20px;
}

.footer-dev p {
  font-size: 1em;
} 

.footer-dev a {
  font-weight: 500;
}

.footer-dev a:hover {
  color: white;
}

.footer-dev a {
  color: #666666;
  font-weight: 500;
}


/*********************************************
*****              UI elements           *****
*********************************************/

.whitespace {
  margin: 50px auto;
}

#marquee {
  margin: 40px auto 0;
}

#home-register-section {
  background: #222222;
  margin: 0 auto;
  padding: 20px 50px;
  text-align: center;
}

#home-program-section {
  margin: 0 auto;
  padding: 30px 50px 10px;
  text-align: center;
}

#home-speakers-section {
  margin: 0 auto;
  padding: 20px 50px;
  text-align: center;
}

#home-program-icons {
  padding: 10px;
}

#sponsors-icons {
  padding: 10px;
}

#internal-page-section {
  margin: 0 auto;
  padding: 30px 50px 60px;
  text-align: center;
}

.fa-briefcase { color: #eb5354; }
.fa-bar-chart { color: #fc9c60; }
.fa-line-chart { color: #abd02b;}
.fa-share-alt { color: #9477d4;}
.fa-graduation-cap { color: #325aa7;}
.fa-university { color: #ebd463;}


#home-topics {

}

.home-topic-icon {
  display: block;
}


/*********************************************
*****             Contact Form           *****
*********************************************/
form { 
  max-width:420px; 
  margin:20px auto; 
}

.form-element {
  font-family: 'Ubuntu', sans-serif;
  font-weight:300;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #0277BD;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.form-element:focus { 
  border:2px solid #01579B; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  background:#0277BD;
  border-radius:2px;
  border:0;
  cursor:pointer;
  color:white;
  font-size: 1.15em;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover {
  background:#01579B; 
}

#sponsors-contact-form {
  display: none;
}

/*********************************************
*****           Form Validation          *****
*********************************************/

input.error, textarea.error {
  border: 1px solid #eb5354;
}

span.error {
  display: none;
  color: #eb5354;
}

/*********************************************
*****           Agenda Table             *****
*********************************************/

table {
  width: 100%;
  text-align: left;
}

td {
  padding: 10px 20px 10px 0;
  vertical-align: top;
}

td span {
  border-bottom: 3px solid #ef5250;
  text-transform: uppercase;
}

#agenda-changes {
  color: #BDBDBD;
  font-size: .75em;
}
